@import "reset.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #C50000;
  font-family: 'Neue Machina';
  overflow: hidden;
}
.logo {
  position: fixed;
  margin: 4vh 6vw;
  width: 100px;
  min-width: 80px;
}
/*
.rays {
  width: 300px;
  animation-name: rotation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
} */

.unicorn::after {
  content: "КАК\AУХАЖИВАТЬ\AЗА ЕДИНОРОГОМ?";
  white-space: pre;
  position: absolute;
  font-weight: bold;
  font-size: 1vw;
  z-index: 1;
  color: white;
  letter-spacing: 0.04em;
  top: 400px;
  left: 30px;
}

.footer {
  width: 100vw;
  height: 100vh;
  padding: 6% 10%;
  position: absolute;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}
.time,
.day {
  font-size: 10vw;
  color: #C50000;
  font-weight: bold;
  -webkit-text-stroke: 0.5px white;
  line-height: 90%;
}
.time {
  align-self: flex-end;

}
.lecture {
  align-self: flex-end;

}
.rect {
  background-color: black;
  width: 300px;
  height: 300px;
  position: absolute;
}
.unicorn {
  width: 600px;
}
.sub {
  z-index: 2;
}
.key {
  display: flex;
}
/*
img.test {
  width: 200px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  animation-name: test;
  animation-delay: 3s;
  animation-duration: 5s;
}

@keyframes test {
  to {
    transform: scale(89);
  }
}  */
