@import "reset.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #C50000;
  font-family: 'Neue Machina';
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.logo {
  position: fixed;
  margin: 4vh 6vw;
  width: 100px;
  min-width: 80px;
}
footer,
header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
}
footer {
  align-items: flex-end;
}
.time,
.day {
  font-size: 10vw;
  color: #C50000;
  font-weight: bold;
  -webkit-text-stroke: 0.5px white;
  line-height: 80%;
}
.lecture-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lecture-name {
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0.04em;
}
.adress span {
  margin-top: 20px;
  display: block;
}
